.content{
    position: absolute;
    padding: 0%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    align-items: center;
    align-content: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(240, 208, 165);
    height: 10%;
    width: 100%;
    margin: auto;
    padding: auto;
}

.title{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container_container{
    display: flex;
    position: absolute;
    width: 50%;
    height: 30%;
    flex-direction: column;
    
}
.container{
    display: flex;
    position: inherit;
    padding: 1em solid black;
    border: 1em solid rgb(240, 208, 165);
    background-color: rgb(240, 208, 165);
    width: 100%;
    padding-left: 1em;
    height: 90%;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    gap: 1em;
}

.container1{
    background-color: rgb(244, 207, 160);
    display: absolute;
    border: 0.1em solid black;
    aspect-ratio: 1/1;
    height: 90%;
}
.container1:hover{
    background-color: rgb(240, 208, 165);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor: pointer;
}


body{
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.footer{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    background-color: rgb(240, 208, 165);
    height: 10%;
    width: 100%;
    margin: auto;
    padding: auto;
}

.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 8.5;
    height: 80%;
    width: 70%;
}

.middle{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.nav{
    display: flex;
    position: relative;
    flex: 1.5;
    height: 80%;
    width: 30%;
    flex-direction: column;
}


h3{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h4{
    margin-left: 2em;
}



ul{
    display: flex;
    flex-direction: column;
    
}


button{
    background-color: white;
    border: 0.1em solid black;
    padding: 0.5em;
    width: 20vw;
    cursor: pointer;
    font-size: 1em;
}

button:hover{
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}